.header {
    position: fixed;
    top: -100px;
    z-index: 2000;
    width: 100%;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid rgb(206, 206, 206);
    transition: 0.4s top cubic-bezier(.3, .73, .3, .74);
}

.header.sticky {
    top: 0;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.header__logo-link {
    background-color: #fff;
    padding: 8px 15px 15px 15px;
    clip-path: url(#hex-logo);
}

.header__logo {
    height: 80px;
    width: auto;
}

.header__nav-bar {
    margin-top: 20px;
    direction: rtl;
}

.header__nav-bar__item {
    font-size: 16px;
    padding: 0 12px;
    color: #444444;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
}

.header__nav-bar__item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f97352;
    transition: width .3s;
}

.header__nav-bar__item:hover::after {
    width: 100%;
}

.header__nav-bar__item.active::after {
    width: 100%;
}

.header--first-view {
    position: absolute;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 55px;
}

.header__content--first-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo--first-view {
    height: 80px;
    width: auto;
    margin-top: 5px;
}

.header__nav-bar--first-view {
    margin-top: 20px;
    direction: rtl;
    line-height: 50px;
}

.header__nav-bar__item--first-view {
    font-size: 16px;
    padding: 0 12px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
}

.header__nav-bar__item--first-view::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.header__nav-bar__item--first-view:hover::after {
    width: 100%;
}

.header__nav-bar__item--first-view.active::after {
    width: 100%;
}

.item-group {
    display: inline-block;
    position: relative;
}

.item-group .item-group__title {
    font-size: 16px;
    padding: 0 12px;
    color: #444444;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
}

.item-group--first-view .item-group__title {
    font-size: 16px;
    padding: 0 12px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
}

.item-group .item-group__title::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f97352;
    transition: width .3s;
}

.item-group--first-view .item-group__title::after {
    background: #fff;
}

.item-group .item-group__title:hover::after {
    width: 100%;
}

.item-group .item-group__title.active::after {
    width: 100%;
}

.item-group:hover .item-group__sub-menu {
    display: inline-block;
}

.item-group .item-group__sub-menu {
    display: none;
    width: 320px;
    position: absolute;
    top: 20px;
    right: 0;
    padding-top: 15px;
}

.item-group--first-view .item-group__sub-menu {
    top: 40px;
}

.item-group .item-group__sub-menu .item-group__sub-menu__item {
    background: #444444;
    padding: 15px;
    color: #fff;
    border-top: 2px solid #f97352;
}

.item-group--first-view .item-group__sub-menu .item-group__sub-menu__item {
    padding: 5px 15px;
}

.item-group .item-group__sub-menu .item-group__sub-menu__item:hover {
    background: #505050;
}

.item-group .item-group__sub-menu .item-group__sub-menu__item .item-group__sub-menu__item__link {
    text-decoration: none;
    color: inherit;
}

.item-group .item-group__sub-menu .item-group__sub-menu__item .item-group__sub-menu__item__link.active {
    text-decoration: none;
    color: #f97352;
}

@media only screen and (max-width: 64em) {
    .header--first-view {
        display: none;
    }

    .header {
        top: 0;
    }
}

.header__right_wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.header-auth {
    margin-left: 20px;
}

.header--first-view .header-auth {
    margin-top: 15px;
}

.header-auth .btn {
    display: inline-block;
    margin-top: 12px;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 15px;
    height: 30px;
    vertical-align: bottom;
}

.header-auth .header-auth__username {
    vertical-align: super;
    color: #00C958;
    margin-right: 10px;
}

.header_toggle-menu-button-ccontainer {
    display: none;
}

.header_toggle-menu-button {
    display: block;
    margin: 1em;
    margin-top: 13px;
    width: 36px;
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
}

.header_toggle-menu-button:before,
.header_toggle-menu-button:after {
    background-color: #000;
    content: '';
    display: block;
    height: 4px;
    transition: all 200ms ease-in-out;
}

.header_toggle-menu-button:before {
    box-shadow: 0 10px 0 #000;
    margin-bottom: 16px;
}

.header_toggle-menu-button.active:before {
    box-shadow: 0 0 0 #000;
    transform: translateY(10px) rotate(45deg);
}

.header_toggle-menu-button.active:after {
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger-menu-wrapper {
    display: none;
    overflow: hidden;
    height: 0;
    position: relative;
    top: -99px;
    transition: height .7s;
}

.hamburger-menu-wrapper.open {
    height: 100vh !important;
}

.hamburger-menu {
    position: absolute;
    z-index: 0;
    background-color: #e6e6e6;
    left: 0;
    right: 0;
    top: 50px;
    padding-top: 55px;
}

.header__nav-bar--vertical .header__nav-bar__item {
    display: block;
    text-align: right;
    padding: 10px 40px;
    border-bottom: 1px solid rgb(143, 143, 143)
}

.header__nav-bar--vertical .item-group {
    display: block;
    text-align: right;
    padding: 10px 40px;
    border-bottom: 1px solid rgb(143, 143, 143)
}


.header__nav-bar--vertical .header__nav-bar__item::after {
    content: '';
    display: block;
    width: 0;
    height: 0px;
    background: none;
    transition: none;
}

.header__nav-bar--vertical .header__nav-bar__item:hover::after {
    width: 0;
}

.header__nav-bar--vertical .header__nav-bar__item.active::after {
    width: 0;
}

.header__nav-bar--vertical .header__nav-bar__item.active {
    color: #fff;
    background-color: #f97352;
}

@media only screen and (max-width: 768px) {

    .hamburger-menu-wrapper {
        display: block;
    }

    .header-auth {
        margin-left: 0px;
    }

    .header__nav-bar {
        display: none;
    }

    .header__right_wrapper {
        padding-right: 10px;
    }

    .header_toggle-menu-button-ccontainer {
        display: inline-block;
    }
}