#home-page {
    padding-top: 0;
}

#home-page .features-section {
    padding: 50px 40px 50px 40px;
}

#home-page .service-section {
    padding: 20px 40px 50px 40px;
}

#home-page .service-section > .row{
    flex-wrap: wrap-reverse;
}

#home-page .about-section {
    padding: 20px 40px 50px 40px;
    background-color: #c4cacc;
}

#home-page .about-section .about-section__text {
    direction: rtl;
    font-size: 18px;
    text-align: justify;
    line-height: 1.8em;
    padding: 0 50px;
    color: #1d1d1d;
}

#home-page .about-section .about-section__button-wrapper {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

/* .about-section .about-section__button {
} */

#home-page .companies-section {
    padding: 20px 40px 50px 40px;
}

@media only screen and (max-width: 64em) {
    #home-page {
        padding-top: 55px;
    }
}